@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.container {
	padding: 2rem;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 250px);
	gap: 2em;
	flex-wrap: wrap;
	width: calc(90% - 2rem);
}

.error {
	margin-top: 3rem;
	color: grey;
	font-weight: bold;
	font-size: 20px;
}

.loading {
	margin-top: 3rem;
}
