@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.form {
	@include m.flex-center;
	gap: 1rem;
	padding: 1rem;
	width: 90%;
	max-width: 600px;

	&__inputDiv {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		width: 100%;
		border-radius: 50px;
		padding: 0.3rem;
		background-color: white;

		&:focus-within {
			outline: 2px solid #cae062;
		}
	}

	&__searchInput {
		border-radius: 50px;
		padding: 0 0.5rem;
		border: none;
		width: 100%;
		font-size: 16px;

		&::placeholder {
			color: rgb(187, 187, 187);
		}

		&:focus {
			outline: none;
		}
	}

	&__numResultsWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__numResultsContainer {
		margin-left: 0.5rem;
		border-radius: 50px;
		padding: 0.2rem;
		background-color: v.$secondary-bg-color;
		padding: 0.5rem;

		&:focus-within {
			outline: 2px solid #cae062;
		}
	}

	&__numResults {
		background-color: v.$secondary-bg-color;
		border: none;
		color: white;

		&:focus {
			outline: none;
		}
	}

	&__numResultsLabel {
		color: white;
	}

	&__button {
		padding: 0.5rem;
		font-size: 16px;
		border-radius: 50px;
		border: 1px solid transparent;
		transition: 200ms;
		background-color: v.$primary-btn-color;
		color: v.$primary-btn-text-color;
		cursor: pointer;

		&:hover {
			transform: scale(1.05);
		}
	}
}
