@use "./styles/variables" as v;
@use "./styles/mixins" as m;

body {
	margin: 0;
	padding: 0;
}

p {
	font-size: 16px;
}

#root {
	font-family: v.$primary-font;
	@include m.flex-center;
	width: 100%;
}
